<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            /* background: linear-gradient(rgba(9, 13, 27, 0.7),rgba(9, 13, 27, 0.7)),url("/images/back3.jpg");
            background-position: center;
            background-size: cover; */
            background-color: rgb(220, 247, 224);
        }
        
        h4{
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        
    </style>
    <title>Pulses</title>
</head>
<body>
    <h1 style="text-align: center;">Pulses</h1>
    <h2>About Pulses</h2>
    <p>Pulses are consumed as Dal, which is a cheap source of plant protein. These are consumed because of body building properties having presence of various amino acids. These also have medicinal properties. By products of pulses like leaves, pod coats
        and bran are given to animals in the form of dry fodder. Some pulse crops like Gram, Lobia, Urdbean & Moongbean are fed to animals as green fodder. Moong plants are also used as green manure which improve soil health and adds nutrient into the
        soil.
    </p>
    <p>A number of pulse crops are grown in India and world. Among the crops, major ones are Gram, Pigeonpea, Lentil, Fieldpeas etc. According to history, the origin of Gram is in South West Asia – probably Afghanistan and Persia, Pigeonpea in Africa, Lentil
        in Turkey to South Iran and Fieldpeas in Mediterranean Region of Southern Europe and Western Asia.</p>
    <h2>History of pulses in India</h2>
    <p>Pulses have a long and rich history in India, dating back to ancient times. In fact, pulses have been a staple of Indian cuisine for thousands of years and have played a crucial role in the country's food culture and economy.</p>
    <p>The cultivation of pulses in India dates back to the Indus Valley Civilization, which existed from 3300 BCE to 1300 BCE. The ancient Indians were skilled in agriculture and grew a wide variety of crops, including pulses such as lentils, chickpeas,
        and beans. These crops were an important source of protein and nutrients for the people of the time.</p>
    <p>Over the centuries, the cultivation and consumption of pulses in India evolved, with different regions developing their own unique varieties and recipes. For example, the southern Indian state of Tamil Nadu is known for its use of urad dal (black
        gram) in dishes such as dosa and idli, while the northern state of Punjab is famous for its chana dal (split chickpeas) dishes such as chana masala.</p>
    <p>Pulses have also played an important role in India's economy, as the country is the largest producer and consumer of pulses in the world. India produces a wide variety of pulses, including lentils, chickpeas, beans, and peas, and exports them to countries
        around the world. However, in recent years, the country has faced challenges in meeting the growing demand for pulses due to factors such as climate change, pest infestations, and low productivity.</p>
    <h2>Important Major Pulses Growing Zones / States in India</h2>
    <p>Varietal Development programme of pulses got strengthened in 1967 with the initiation of All-India Co-ordinated Research Improvement Programme. Through this programme, the varieties suitable for across the country i.e. agro-climatic zones: Northern
        Hills Zone – J&K, Himachal Pradesh, North West of Uttar Pradesh; North West Plain Zone – Haryana, Punjab, Rajasthan, Gujarat, western Uttar Pradesh; North East Plain Zone – eastern Uttar Pradesh, Bihar, West Bengal, Assam, Tripura, Mizoram, Northern
        Odisha; Central Zone – Madhya Pradesh, Maharashtra, Parts of Karnataka, Andhra Pradesh; South Zone – Andhra Pradesh, Tamil Nadu, Kerala, Karnataka and southern Odisha have been developed.</p>
    <h2>Climatic Requirement</h2>
    <p>Pulse crops are cultivated in Kharif, Rabi and Zaid seasons of the Agricultural year. Rabi crops require mild cold climate during sowing period, during vegetative to pod development cold climate and during maturity / harvesting warm climate. Similarly,
        Kharif pulse crops require warm climate throughout their life from sowing to harvesting. Summer pulses are habitants of warm climate. Seed is required to pass many stages to produce seed like germination, seedling, vegetative, flowering, fruit
        setting, pod development and grain maturity / harvesting.</p>
    <h2>Rainfall requirement for pulses in India</h2>
    <p>The rainfall requirement for pulses in India varies depending on the type of pulse and the stage of growth. Generally, pulses require moderate rainfall during their early growth stage, followed by dry weather during flowering and pod development.</p>
    <P>Some common pulses grown in India and their approximate rainfall requirements are:</P>
    <ol type="1">
        <li>Chickpea (Chana) - 400-500 mm</li>
        <li>Pigeon Pea (Arhar) - 650-750 mm</li>
        <li>Lentil (Masoor) - 350-450 mm</li>
        <li>Mung Bean (Moong) - 600-700 mm</li>
        <li>Black Gram (Urad) - 500-600 mm</li>
        <li>Cowpea (Lobia) - 600-700 mm</li>
    </ol>
    <h2>Nutritional value of pulses</h2>
    <p>Here are some of the nutritional values of pulses:</p>
    <ol type="1">
        <li>Protein: Pulses are a great source of plant-based protein, which is essential for building and repairing tissues in the body. They contain between 7-25 grams of protein per 100 grams of cooked pulses.</li>
        <li>Fiber: Pulses are an excellent source of fiber, which is important for maintaining digestive health and reducing the risk of chronic diseases such as heart disease, diabetes, and certain types of cancer. They contain between 6-18 grams of fiber
            per 100 grams of cooked pulse.</li>
        <li>Carbohydrates: Pulses are a good source of complex carbohydrates, which provide a slow and steady release of energy throughout the day. They contain between 20-60 grams of carbohydrates per 100 grams of cooked pulses.</li>
        <li>Vitamins: Pulses are rich in vitamins, including folate, vitamin B6, thiamine, and niacin. These vitamins are important for maintaining healthy skin, nerve function, and red blood cell production.</li>
        <li>Minerals: Pulses are also a good source of minerals, including iron, zinc, magnesium, and potassium. These minerals are important for maintaining healthy bones, muscles, and overall body function.</li>
    </ol>
    <p>Overall, pulses are a highly nutritious food that should be included in a healthy diet. They are low in fat and cholesterol, and high in essential nutrients that are beneficial for maintaining good health.</p>
    <h2>Soil Requirement</h2>
    <p>Lentil can be cultivated on well-drained light loam, alluvial soil of the Indo-Gangetic plains and the black cotton soil of Maharashtra and Madhya Pradesh. In West Bengal and Assam, it is cultivated on clay and silty loamy soil. The crop is moderately
        tolerant to saline and acid soils. Well-drained deep sandy clay loam soil is most suitable for lentil cultivation.</p>
    <h2>Field Preparation</h2>
    <p>One deep ploughing followed by cross harrowing and planking ensures better field for cultivation of lentil. A good field should have friable but compact soil, adequate moisture and free from weeds and plant debris. Under utera or relay cropping system,
        lentil is sown by broadcasting seeds in rice crop 7-10 days before harvest. In case of low moisture in soils before sowing, pre-sowing irrigation is recommended for proper germination.</p>
    <h2>Area, Production And Yield Of Major Pulse Crops Growing States In India</h2>
    <p>There was 239 lakh ha area in India at triennium ending 2010-11, which was mainly contributed by Madhya Pradesh, Rajasthan, Maharashtra, Karnataka and Uttar Pradesh. From this area, 158 lakh tonnes production of pulse was received. The major contributors
        of this production were Madhya Pradesh, Maharashtra, Uttar Pradesh, Rajasthan and Andhra Pradesh. During this period, productivity of pulses was recorded as 661 kg / ha with highest in Punjab (905 kg/ha), Haryana (891), Bihar (839), Uttar Pradesh
        (823) and West Bengal (811).</p>
    <h2>Major Pulses Producing States</h2>
    <img src="https://farmer.gov.in/imagedefault/pulsesindia.png" alt="No Image">
</body>
</html>